@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #ff4800;
  --secondary-color: #20c997;
  --primary-font: "Dosis", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  font-family: var(--primary-font);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e1464;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.sec_p {
  padding: 5rem 0;
}

/* Header Navbar Start */
.navbar {
  padding: 2rem;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.navbar.bgcolor {
  background-color: #fff;
  box-shadow: 2px 2px 2px #22222238;
}

.navbar .navbar-nav .nav-item {
  margin-left: 0.5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem !important;
  color: #fff !important;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}

.bgcolor .navbar-nav .nav-item .nav-link {
  color: #333 !important;
}

.navbar-expand-lg .navbar-nav {
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  background-color: var(--primary-color);
}

.navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none;
}

.navbar .btn-danger {
  background-color: #fff;
  border: none;
  outline: none;
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 32px 12px;
  font-family: var(--primary-font);
  transition: 0.3s ease-in-out;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.btn-danger:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.bgcolor .btn-danger {
  background-color: var(--primary-color);
  color: #fff;
}

.search_container .search_box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.search_container .search_box {
  width: 50%;
  transition: 0.3s ease-in-out;
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.search_container .search_box.show {
  display: block;
}
.search_container .search_box form input {
  width: 100%;
  display: block;
  padding: 1.4rem;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.search_container .search_box form input::placeholder {
  font-family: var(--primary-font);
}
.search_container .search_box form input:focus {
  outline: 1px solid #20c997;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222222ad;
  visibility: hidden;
  opacity: 0;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}
/* Home Banner Start */
.home {
  background-image: linear-gradient(#22222231, #3333332d),
    url("../image/main-banner.04bd647.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.home .home_content {
  padding-top: 250px;
  width: 600px;
}

.home .home_content h1 {
  color: #fff;
  font-size: 3rem !important;
  font-weight: 800;
  margin-bottom: 2rem;
}

.home .home_content p {
  color: #fff;
  font-size: 1rem !important;
  font-weight: 400;
  margin-bottom: 2rem;
}

.home .home_content .bs {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem 3rem;
}

.home .home_content .bs:hover {
  background-color: var(--secondary-color);
}

/* Service Start */

.service_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single_service {
  margin-top: 9.5rem;
  width: 360px;
  padding: 1.5rem;
  background-color: transparent;
  position: relative;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.single_service::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-color);
}

.single_service:hover i {
  color: #fff;
}

.single_service i {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.single_service h3 {
  color: #fff;
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.single_service p {
  color: #fff;
  font-size: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
}

.single_service.active {
  background-color: var(--primary-color);
}

.single_service.active i {
  color: #fff;
}

/* About Start */
.about .about_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about_main .left {
  width: 50%;
  position: relative;
}

.about .about_main .left img {
  width: 50%;
  object-fit: contain;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.about .about_main .left img:nth-child(2) {
  position: absolute;
  top: 60px;
  left: 200px;
}

.about .about_main .right {
  width: 50%;
}

.about .about_main .right h1 {
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about .about_main .right p {
  font-weight: 500;
  color: #57647c;
  margin-bottom: 2rem;
}

.about .about_main .right button {
  padding: 0.8rem 2.5rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  outline: none;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about .about_main .right button:hover {
  background-color: var(--secondary-color);
}

/* Service Start */

.service {
  background-color: #f2f6f9;
}
.service .text_center h1 {
  font-weight: 600;
  color: #333;
}

.service .text_center p {
  color: #57647c;
}

.service .service_container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service .service_container .service_item {
  width: 410px;
  padding: 2rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 5px 5px #3333;
  transition: 0.3s transform;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -ms-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}
.service .service_container .service_item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.service .service_container .service_item:hover::after {
  width: 100%;
}
.service .service_container .service_item:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.service .service_container .service_item .icon {
  width: 45px;
  height: 45px;
  background-color: #ff4800fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.service .service_container .service_item .icon i {
  color: #fff;
  font-size: 1.1rem;
}

.service .service_container .service_item h2 {
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
}

.service .service_container .service_item p {
  color: #57647c;
}

/* <!-- Webinar Start  --> */
.webseminar .wrap_file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.webseminar .wrap_file .left {
  width: 50%;
}

.webseminar .wrap_file .left h1 {
  font-weight: 700;
  color: #333;
}

.webseminar .wrap_file .left p {
  font-size: 1rem;
  color: #57647c;
  font-weight: 400;
}
.webseminar .wrap_file .left button {
  border: none;
  outline: none;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  color: #fff;
  background-color: var(--primary-color);
  padding: 0.6rem 2.5rem;
  margin-top: 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.webseminar .wrap_file .right {
  width: 50%;
  margin-left: 3rem;
}

.webseminar .wrap_file .right img {
  width: 100%;
}

/* Featured Customers & Partners Start */
.featured {
  background-color: #f2f6f9;
}
.featured .text_center {
  margin-bottom: 2rem;
}
.featured .text_center h1 {
  font-weight: 600;
  color: #333;
}

.featured .text_center p {
  color: #57647c;
}

.featured .partner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.featured .partner_container .partner_item {
  width: 225px;
  background-color: #fff;
  padding: 2rem;
  cursor: pointer;
}

.featured .partner_container .partner_item .partner_image {
  position: relative;
  display: block;
}

.featured .partner_container .partner_item .partner_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid #ff4800;
  border-bottom: 3px solid #ff4800;
  width: 0;
  height: 0;
}

/* Testimonial Start */
.testimonial {
  background-color: #f2f6f9;
}
.testimonial .text_center {
  margin-bottom: 2rem;
}
.testimonial .text_center h1 {
  font-weight: 600;
  color: #333;
}

/* Testimonial */
.testimonial_main {
  margin-right: 2rem;
}
.user_img img {
  width: 75px;
  border-radius: 100%;
  height: 75px;
  object-fit: cover;
}

.testimonial_user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
}

.user_info h5 {
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.user_info .sub_title {
  margin-top: 5px;
}

.user_info {
  padding-top: 1rem;
}

.testimonial_content {
  border: 1px solid #ddd;
  padding: 2rem;
}

.testimonial_content p {
  color: #969696;
  font-family: var(--primary-font);
  font-weight: 300;
  line-height: 30px;
  font-style: italic;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

/* Our Pricing Plan */

.price_plan {
  background-color: #fafafa;
}

.price_plan .text_center {
  margin-bottom: 2rem;
}
.price_plan .text_center h1 {
  font-weight: 600;
  color: #333;
}

.price_plan .card {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 3px #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.price_plan .btn-primary {
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 0.5rem 2.4rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.price_plan .card_middle h1 {
  color: #333;
}

.price_plan .card-body h3 {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}

.price_plan .card-body p {
  color: #57647c;
}

.price_plan .list i {
  color: var(--primary-color);
  font-weight: 400;
}

.price_plan .list li {
  color: #57647c;
  font-weight: 300;
}

/* Our Recent Story Start */

.blog .text_center {
  margin-bottom: 2rem;
}
.blog .text_center h1 {
  font-weight: 600;
  color: #333;
}

.blog .card {
  transition: 0.3s ease-in-out;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.blog .card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

/* Footer Start */

.footer {
  background-color: #15171a;
  color: #fff;
}

.footer .social .icon {
  width: 35px;
  height: 35px;
  background-color: #333;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.footer .social .icon:hover {
  background-color: var(--primary-color);
}

.footer .social .icon i {
  color: #fff;
}
.footer .f_service h3 {
  position: relative;
}
.footer .f_service h3::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 4px;
  background-color: var(--primary-color);
}
.footer .f_service li {
  padding: 0.3rem;
}

.footer .f_service li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.footer .f_service li a:hover {
  color: var(--primary-color);
}
